/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug{
    border:2px solid red;
}

/* utility colors */
:root {
	--color-dark-blue: #0061ff;
	--color-light-blue: #b4d0e7;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-light-green: #a2d39b;
	--color-blue: #0093ce;
	--color-burgundy: #61082b;
	--color-light-red: #ff1c1c;
	--color-dark-red: #d5001f;
	--color-yellow: #ffd830;
	--color-ultramarine: #0d2481;
	--color-not-white: #f5f5f5;
}

.white{
    color: var(--color-not-white);
}

/* general */
.container{
    max-width: 1200px;
    margin: 0 auto;  
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
    
}

ul li,a{
    text-decoration: none;
    list-style: none;
    color: var(--color-black);
    padding: 0 10px;
}

p{
    font-size: 0.8em;
}

.scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-not-white);
    z-index: 3000;
}

hr{
    width: 20%;
    margin-bottom: 20px;
}

/* buttons */
.btn{
    padding: 2px 8px;
    font-size: 12px;
}

.btn-blue{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.btn-jumbo{
    width: 210px;
    padding: 10px 4px;
    text-align: center;
}

.normal-link{
    text-decoration: underline;
    color: blue;
}

/* flex utility */
.d-flex{
    display: flex;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.j-content-center{
        justify-content: center;
}

.direction-row{
    flex-direction: row;
}

.direction-column{
    flex-direction: column;
}

.a-items-center{
    align-items: center;
}

.a-items-flex-end{
    align-items: flex-end;
}

.a-content-center{
    align-content: center;
}

.stretch{
    align-items: stretch;
}

.column-reverse{
    flex-direction: column-reverse;
}

.wrap{
    flex-wrap: wrap;
} 

/* body */
body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-not-white);
}

/* header */
header{
    width: 100%;
    background-color: var(--color-not-white);   
}

nav{
    background-color: var(--color-not-white);

    font-size: 14px;
    padding: 10px 20px;     
}

#logo{
    width: 100px
}

#jumbo{
    background-color: var(--color-light-blue);
    margin-top: 30px;
}

#jumbo-left{
    width: 40%;
    padding-left: 20px;
   
}

.jumbo-right{
   width: 60%;
}

#jumbo-box{
    position: relative;
    top: 60px; 
    padding-left: 20px;
}

#jumbo-image{
    width: 100%;
    display: block; 
} 


h1{
    font-size: 60px;
    padding-left: 20px;
    padding-top: 30px;
}

.text-jumbo{
    padding-bottom: 20px;
}

.fa-arrow-down{
    font-size: 30px;
}


/* main */
main{
    width: 100%;
    padding: 20px;
    background-color: var(--color-not-white);
}
.padding-left{
    padding-left: 70px;
} 

/* section one */
#one{
    margin-top: 80px;  
}

.checkbox{
    padding-top: 20px;
}

#annual{
    margin-left: 30px;
}

/* section two */
#two{
    width: calc(100% / 3 -10px);
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.column{
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.box .box-up h4{
    padding-top: 5px;
}

.btn-box{
    text-align: center;
    padding: 4px 50px;
    margin-left: 10px;
    font-size: 0.7em;
}

.box-title{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 8px;
}

.box-up{
    padding-top: 20px;
    padding-left: 10px;
}


.box-list{
  padding: 20px 0px;
}

.box-actions,.action-link{
padding-bottom: 20px;
}

.action-link{
    margin-bottom: 20px;
}

.box-down{
    padding-left: 10px;
    padding-bottom: 80px;
}

.box-up ul li, .box-down ul li, .box-down h5, .box-up h4{
    margin-bottom: 10px;
}

.box-up ul li, .box-down ul li{
    font-size: 0.8em;
}

.action-link {
    font-size: 0.8em;
}

#amount{
    font-size: 0.8em;
    font-weight: 700;
    padding: 4px;
}

#period{
    font-size: 0.5em;
    padding-left: 5px;
    color: grey;
}

#p-box{
    padding-left: 10px;
}

/* section 5 */
#five{
   gap: 10px;
}
.single-card{
    width: calc(100% / 3 - 10px);  
}

.card-up img{
    width: 100%;
    display: block;
}

/* section 6 */
#six{
    width: 100%;
}

.box-section-six{
    padding-top: 40px;
    padding-bottom: 40px;
}

.single-box{
    width: calc(100% / 3);
}

.left-box .logo-left img{
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    padding: 80px;
    display: flex;
    align-items: center;
    align-content: center;
    filter: invert(100%);
  
}
.logo-left{
    width: 50%;
}

.image-design{
    background-color: var(--color-light-green);
}

.image-asu{
    background-color: var(--color-burgundy);
}

.image-usflorida{
    background-color: var(--color-dark-blue);
}

.image-topp{
    background-color: var(--color-dark-red);
}

.center-box{
    background-color: var(--color-not-white);
}

.center-box{
    width: 50%;
}

.center-box img{
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;
    padding: 25px;
}


   



/* footer */
footer{
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-not-white);
}

.footer-list h4{
   padding-left: 19px;
   padding-bottom: 10px;
}

.footer-list ul li a{
    font-size: 0.6em;
}

.footer-list{
    padding-top: 40px;
    padding-bottom: 80px;
}

.fa-caret-up{
    padding-left: 4px;
    vertical-align:text-bottom;
    font-size: 0.9em;
}
.down{
    font-size: 0.8em;
    padding-left: 15px;
    padding-bottom: 50px;
}

.down small{
    padding-left: 2px;
}

